template(name="mensagensView")
	.ui.info.message(style="background-color:#{appThemeBgColor};")
		i.large.comments.outline.icon
		|Fale Conosco
	.ui.info.message(style="background-color:#{appThemeBgColor};")
		i.large.calendar.icon
		|#{dateTimeBr chamado.date}
	.ui.bottom.fixed.menu(style="background-color:#{appThemeBgColor};margin-bottom:50px !important;")
		.item
			.ui.action.input
				input#respostaField(type="text",name="resposta")
				button.ui.blue.right.floated.button#sendRespostaBtn(type="button") Enviar
	.ui.segment(style="background-color:#{appThemeBgColor};margin-bottom:50px;")
		.ui.comments
			each chamado.mensagens
				.comment
					.avatar
						img(src="#{gravatar user.emails}")
					.content
						.author #{user.profile.name}
						.metadata
							.date #{dateTimeBr date}
						.text #{mensagem}
