template(name="homeView")
	img.ui.small.centered.image(src="#{clUrl appInfo.logotype.public_id crop='scale' width=150}")
	.ui.hidden.divider
	.ui.fluid.grid(class="#{appInfo.home.iconQuantity} column")
		each plugins
			.center.aligned.column.pluginClickEvent
				i.iconAlpha.big.inverted.transition.hidden.icon(style="background-color:#{iconRGBA} !important;",id="icon_#{_id}",class="#{plugin.icon} #{appInfo.home.iconColor} #{appInfo.home.iconType}")
