template(name="mainMenu")
	.ui.segments
		.ui.secondary.segment#adminMenu(style="padding:0px;")
			.ui.secondary.menu
				a.ui.item(class="#{isActiveRoute regex='^home'}",href="#{pathFor 'homeRoute'}")
					img.ui.mini.image(src="#{clUrl 'technotronics' width=80 crop='scale'}")
					|&nbsp; AppLegal

				.right.menu
					if isInRole 'admin'
						.ui.item#adminSubMenuShow
							i.sidebar.icon
						.ui.large.popup
							.ui.vertical.text.menu
								a.item(class="#{isActiveRoute regex='^aplicativos'}",href="#{pathFor 'aplicativosRoute'}")
									i.android.icon
									|Aplicativos
								a.item(class="#{isActiveRoute regex='^modulos'}",href="#{pathFor 'modulosRoute'}")
									i.puzzle.icon
									|Módulos
								a.item(class="#{isActiveRoute regex='^arquivos'}",href="#{pathFor 'arquivosRoute'}")
									i.file.icon
									|Arquivos
								a.item(class="#{isActiveRoute regex='^admins'}",href="#{pathFor 'adminsRoute'}")
									i.users.icon
									|Admins
					a.ui.item#profileSubMenuShow(class="#{isActiveRoute regex='^profile'}",href="#{pathFor 'profileRoute'}")
						img.ui.avatar.image(src="#{gravatar user.emails}")
					.ui.large.popup
						.ui.vertical.text.menu
							.link.item
								i.key.icon
								|Alterar Senha
							.link.item
								i.sign.out.icon
								|Sair
		+subMenu
