template(name="mainMenu")
	.ui.segments
		.ui.secondary.segment#adminMenu(style="padding:0px;")
			.ui.secondary.menu
				a.icon.item(class="#{isActiveRoute regex='^home'}",href="#{pathFor 'homeRoute'}")
					img.ui.mini.image(src="#{clUrl 'technotronics' width=80 crop='scale'}")
					|&nbsp; AppLegal
				.ui.icon.dropdown.item
					i.sidebar.icon
					.menu
						a.item(class="#{isActiveRoute regex='^aplicativos'}",href="#{pathFor 'aplicativosRoute'}")
							i.android.icon
							|Aplicativos
						if isInRole 'admin'
							a.item(class="#{isActiveRoute regex='^modulos'}",href="#{pathFor 'modulosRoute'}")
								i.puzzle.icon
								|Módulos
							a.item(class="#{isActiveRoute regex='^arquivos'}",href="#{pathFor 'arquivosRoute'}")
								i.file.icon
								|Arquivos
							a.item(class="#{isActiveRoute regex='^admins'}",href="#{pathFor 'adminsRoute'}")
								i.users.icon
								|Admins
				.right.menu
					if currentUserId
						a.item(class="#{isActiveRoute regex='^profile'}",href="#{pathFor 'profileRoute'}")
							img.ui.avatar.image(src="#{gravatar user.emails}")
					else
						a.item(href="#{pathFor 'loginRoute'}")
							i.sign.in.icon
							|Entrar
		+subMenu
