template(name="noticiasDetalheView")
	.ui.info.message(style="background-color:#{appThemeBgColor}")
		i.large.newspaper.icon
		|Notícias
	.ui.segment(class="#{appThemeText}",style="background-color:#{appThemeBgColor}")
		.ui.left.floated.header #{noticia.title}
		.ui.clearing.divider
		if noticia.imagem
			img.ui.fluid.image(src="#{arquivoPath noticia.imagem}")
			.ui.divider
		p(style="background-color:transparent !important;") !{noticia.mensagem}
