template(name="leftEmulatorApp")
	if isManagerOrAdmin
		.ui.vertical.fluid.menu
			if aplicativoId
				a.item(class="#{isActiveRoute regex='^aplicativosUpdate'}",href="#{pathFor 'aplicativosUpdateRoute' aplicativoId=appInfo._id}")
					i.setting.icon
					.content
						.header Configuração
				a.item(class="#{isActiveRoute regex='^aplicativosArquivos'}",href="#{pathFor 'aplicativosArquivosRoute' aplicativoId=appInfo._id}")
					i.file.icon
					.content
						.header Arquivos
				if isAdmin
					a.item(class="#{isActiveRoute regex='^aplicativosModulos'}",href="#{pathFor 'aplicativosModulosRoute' aplicativoId=appInfo._id}")
						i.puzzle.icon
						.content
							.header Módulos
				a.item(class="#{isActiveRoute regex='^aplicativosUsuarios'}",href="#{pathFor 'aplicativosUsuariosRoute' aplicativoId=appInfo._id}")
					i.users.icon
					.content
						.header Usuários
			else
				a.item(href="#{pathFor 'aplicativosInsertRoute'}")
					i.setting.icon
					.content
						.header Configuração
	unless showEmulator
		.ui.violet.fluid.button#showEmulatorEvent Mostrar Emulador
	else
		.ui.violet.fluid.button#showEmulatorEvent Esconder Emulador
		div#emulatorFloatDiv
			+emulatorFrame
