template(name="leftMenuAdmin")
	.ui.violet.fluid.vertical.menu
		a.item(class="#{isActiveRoute regex='^aplicativos'}",href="#{pathFor 'aplicativosRoute'}")
			i.android.icon
			|Apps
		if isInRole 'admin'
			a.item(class="#{isActiveRoute regex='^plugins'}",href="#{pathFor 'pluginsRoute'}")
				i.puzzle.icon
				|Plugins
			a.item(class="#{isActiveRoute regex='^biblioteca'}",href="#{pathFor 'bibliotecaRoute'}")
				i.book.icon
				|Biblioteca
			a.item(class="#{isActiveRoute regex='^admins'}",href="#{pathFor 'adminsRoute'}")
				i.users.icon
				|Admins
