template(name="enquetesQAView")
	+indexHeaderSearch header=header saveLink=saveLink extraLinks=extraLinks
	.ui.grid
		.row
			.ten.wide.column
				unless perguntas
					.ui.red.message Nenhuma Pergunta
				else
					.ui.divided.list
						each perguntas
							.item
								.content
									.header #{title}
									.ui.middle.aligned.divided.list
										each opc in opcoes
											.item#enquetesRemoveOpcaoEvent
												img.ui.mini.image(src="#{arquivoPath opc.image 'c_scale,w_50'}")
												.content
													.header #{opc.title}
											
			.six.wide.column
				.ui.segments
					.ui.segment
						form.ui.form#enqueteFormPergunta(method="post")
							.field
								label Adcione uma Pergunta
								.ui.action.input
									input#perguntaField(type="text",name="pergunta")
									button.ui.icon.blue.button(form="enqueteFormPergunta",type="submit")
										i.add.icon
					.ui.segment
						form.ui.form#enqueteFormOpcao(method="post")
							.field(class="#{addClassIf 'disabled' perguntaAtual 'none' 'eq'}")
								label Adicione uma Opção
								.ui.action.input
									input#opcaoField(type="text",name="opcao")
									button.ui.icon.blue.button(form="enqueteFormOpcao",type="submit")
										i.add.icon
