template(name="fotosView")
	.ui.segment(class="#{appThemeText}",style="background-color:#{appThemeBgColor}")
		.ui.left.floated.header #{galeria.title}
		a.ui.blue.mini.right.floated.icon.button(href="#{pathFor 'galeriasRoute'}")
			i.chevron.left.icon
		.ui.hidden.clearing.divider
	.ui.two.column.grid
		each fotos
			.column
				img.ui.fluid.rounded.transition.hidden.image.fotos(src="#{arquivoPath _id}")
