template(name="aplicativosView")
	table.ui.blue.top.attached.single.line.selectable.striped.padded.table
		thead
			tr
				th.one.wide
				th.three.wide Data
				th Nome
		unless Template.subscriptionsReady
			tbody
				tr
					td(colspan="3")
						+loadingView
		else
			tbody
				each aplicativos.data
					tr.selectAppEvent(style="cursor:pointer;")
						td
							img.ui.centered.image(src="#{clUrl logotype.public_id crop='scale' height=35 cloud_name=logotype.cloud_name}")
						td #{dateTimeBr createdAt}
						td #{info.name}
	
	.ui.secondary.bottom.attached.segment
		.ui.primary.button#addAppShow
			i.add.icon
			|Novo Aplicativo
		.ui.large.popup
			form.ui.form#addAppForm(method="post")
					.field
						label Nome
						input#nameField(type="text", name="name")
					.field
						button.ui.primary.fluid.right.labeled.icon.button(type="submit",form="addAppForm")
							|Salvar
							i.checkmark.icon
		if Template.subscriptionsReady
			.ui.right.floated.buttons
				.ui.icon.button#prevPage(class="#{addClassIf 'disabled' aplicativos.page 1 'eq'}")
					i.left.arrow.icon
				.ui.basic.button #{aplicativos.page} de #{aplicativos.pages}
				.ui.icon.button#nextPage(class="#{addClassIf 'disabled' aplicativos.page aplicativos.pages 'eq'}")
					i.right.arrow.icon
