template(name="profileView")
	+indexHeaderSearch header=header saveLink=saveLink extraLinks=extraLinks
	form.ui.form#profileForm(method="post",novalidate="novalidate")
		.three.fields
			.field
				label Nome
				input#nomeField(type="text",name="name")
			.field
				label Aniversário
				input#aniversarioField(type="date",name="birth")
			.field
				label Telefone
				input#phoneField(type="text",name="phone",placeholder="(61) 99999-9999")
		.three.fields
			.field
				.ui.button#changePwd Alterar Senha
			.field
				.ui.button#changeEmail Alterar Email
			.field
				if mySelf
					.ui.red.button#logoutEvent Sair
		unless isInRole 'admin'
			.ui.dividing.header Permissões em Aplicativos
			each userApps
				if isGerenteApp _id
					.field
						label #{name}
						select.ui.dropdown.tipoField(id="app_#{_id}",name="tipo",multiple)
							option(value="") Escolha as permissões do Usuário
							option(value="gerente") Gerente
							each appModulos
								option(value="#{modulo.path}") #{modulo.title}
				
