template(name="galeriasView")
	//+indexHeaderSearch header=header extraLinks=extraLinks
	table.ui.blue.top.attached.table
		thead
			tr
				th.three.wide &nbsp;
				th.one.wide Ativa
				th.two.wide Data
				th.two.wide Capa
				th Título
				th Qtd Fotos
		tbody
			each galerias.data
				tr
					td
						a.ui.icon.button.editBtn(href="#{pathFor 'galeriasUpdateRoute' aplicativoId=aplicativoId id=_id}")
							i.edit.icon
						.ui.icon.button.removeBtn
							i.trash.icon
					td
						+indexActivateButton active=active id=_id
					td #{dateBr date}
					td
						if capa_id
							img.ui.rounded.tiny.image(src="#{arquivoPath capa_id}")
						else
							.ui.red.small.header Sem Capa
					td #{title}
					td #{fotos.length}
	.ui.secondary.bottom.attached.segment
		a.ui.blue.button(href="#{pathFor 'galeriasInsertRoute' aplicativoId=appInfo._id}")
			i.plus.icon
			|Nova Galeria
	//+indexInfoPaginator ready=ready nothingFound='Nenhuma galeria cadastrada.' count=galerias.count page=galerias.count pages=galerias.pages singularForm='Galeria' pluralForm='Galerias'
