template(name="mainMenu")
	.ui.blue.secondary.labeled.icon.transition.hidden.menu#adminMenu
		a.item(class="#{isActiveRoute regex='^home'}",href="#{pathFor 'homeRoute'}")
			img.ui.tiny.image(src="#{appLogoByDomain}")
		.item.header
			img.ui.mini.image(src="#{aplicativo.logo}")
			|#{aplicativo.name}
		.right.menu
			a.item(class="#{isActiveRoute regex='^aplicativos'}",href="#{pathFor 'aplicativosRoute'}")
				i.android.icon
				|Aplicativos
			if isInRole 'admin'
				a.item(class="#{isActiveRoute regex='^modulos'}",href="#{pathFor 'modulosRoute'}")
					i.puzzle.icon
					|Módulos
				a.item(class="#{isActiveRoute regex='^arquivos'}",href="#{pathFor 'arquivosRoute'}")
					i.file.icon
					|Arquivos
				a.item(class="#{isActiveRoute regex='^admins'}",href="#{pathFor 'adminsRoute'}")
					i.users.icon
					|Admins
			if currentUserId
				a.item(class="#{isActiveRoute regex='^profile'}",href="#{pathFor 'profileRoute'}")
					i.sign.out.icon
					|#{currentUser.profile.name}
			else
				a.item(href="#{pathFor 'loginRoute'}")
					i.sign.in.icon
					|Entrar
