template(name="userMenu")
	.ui.grey.mini.inverted.top.fixed.labeled.icon.menu#userMenu
		a.item(class="#{isActiveRoute regex='^home'}",href="#{pathFor 'homeRoute'}")
			i.home.icon
			|Home
		each appModulos
			if modulo.admin
				if isInRoleApp aplicativoId modulo.path
					a.item(class="#{isActiveRoute regex=modulo.path}",href="#{pathFor modulo.route}")
						i.icon(class="#{modulo.icon}")
						|#{modulo.title}
		.right.menu
			a.item(class="#{isActiveRoute regex='^aplicativos'}",href="#{pathFor 'aplicativosRoute'}")
				i.android.icon
				|Seus Apps
			if isInRole 'admin'
				a.item(class="#{isActiveRoute regex='^usuarios'}",href="#{pathFor 'usuariosRoute'}")
					i.user.icon
					|Usuários
			if userId
				a.item(href="#{pathFor 'profileRoute'}")
					i.sign.out.icon
					|#{user.profile.name}
			else
				a.item(href="#{pathFor 'loginRoute'}")
					i.sign.in.icon
					|Entrar
