template(name="ensinoAlunosView")
	table.ui.blue.top.attached.single.line.table
		thead
			tr
				th.two.wide
				th Nome
		tbody
			unless Template.subscriptionsReady
				tr
					td(colspan="2")
						+loadingView
			else
				if compare alunos.count 'eq' 0
					tr
						td(colspan="2")
							.ui.info.message
								span Nenhum Aluno matriculado neste Curso.
				each alunos.data
					tr
						td
							a.ui.blue.icon.button(href="#{pathFor 'ensinoTurmasUpdateRoute' cursoId=curso._id turmaId=_id aplicativoId=appInfo._id}")
								i.pencil.icon
							a.ui.icon.button(href="#{pathFor 'ensinoAlunosRoute' turmaId=_id aplicativoId=appInfo._id}")
								i.right.arrow.icon
						td #{name}
	.ui.bottom.attached.secondary.segment
		a.ui.blue.button(href="#{pathFor 'ensinoTurmasInsertRoute' aplicativoId=appInfo._id cursoId=curso._id}")
			i.add.icon
			|Novo Aluno
		a.ui.button(href="#{pathFor 'ensinoTurmasRoute' cursoId=cursoId aplicativoId=appInfo._id}")
			i.left.arrow.icon
			|Turmas
