template(name="aplicativosModulosView")
	table.ui.blue.table
		thead
			tr
				th Módulo
		tbody
			each modulos_ativos
				tr
					td #{icon} - #{title}
		tfooter
			tr
				td
					.ui.blue.button#addAppModulo Adicionar Módulo
					.ui.large.popup
						.ui.vertical.text.menu
							each modulos_disponiveis
								.ui.link.item#addModuloEvent
									i.icon(class="#{icon}")
									|#{title}
	//.ui.bottom.attached.segment
		.ui.grid
			if isModAdmin
				.four.wide.column
					.ui.header Disponíveis
					.ui.vertical.fluid.menu
						each modulos_disponiveis
							.link.item.addModulo
								|#{title}
								i.icon(class="#{icon}")
			.four.wide.column
				.ui.header Ativos
				if modulos_ativos
					.ui.vertical.fluid.menu
						each modulos_ativos
							.link.item.updateModulo
								i.icon(class="#{icon}")
								|#{title}
				else
					.ui.warning.message
						p Nenhum Módulo Ativo
			if isModAdmin
				.eight.wide.column
					+modulosConfigPanel
			else
				.twelve.wide.column
					+modulosConfigPanel

//template(name="modulosConfigPanel")
	.ui.header Configuração
	form.ui.form#appModuloForm(method="post")
		.field
			label Título
			input#titleField(type="text",name="title")
		.field
			label Ordem
			input#orderField(type="number",name="order")
		.field
			label Icone
			input#iconField(type="text",name="icon")
		.actions
			button.ui.blue.button(type="submit",form="appModuloForm") Salvar
