template(name="aplicativosIndexView")
	+indexHeaderSearch header=header newLink=newLink extraLinks=extraLinks
	table.ui.top.attached.table
		thead
			tr
				th
				th.one.wide &nbsp;
				th Nome
		tbody
			each aplicativos.data
				tr
					td
						.ui.blue.icon.button#selectApp
							i.play.icon
					td
						img.ui.mini.image(src="#{logo}")
					td #{name}
	+indexInfoPaginator ready=ready nothingFound='Nenhum aplicativo cadastrado.' count=aplicativos.count page=aplicativos.count pages=aplicativos.pages singularForm='Aplicativo' pluralForm='Aplicativos'
