template(name="leftEmulatorApp")
	if isManagerOrAdmin
		.ui.blue.pointing.vertical.fluid.menu
			if aplicativoId
				a.item(class="#{isActiveRoute regex='^aplicativosUpdate'}",href="#{pathFor 'aplicativosUpdateRoute' aplicativoId=appInfo._id}")
					i.setting.icon
					.content
						.header Configuração
				a.item(class="#{isActiveRoute regex='^aplicativosBiblioteca'}",href="#{pathFor 'aplicativosBibliotecaRoute' aplicativoId=appInfo._id}")
					i.book.icon
					.content
						.header Biblioteca
				a.item(class="#{isActiveRoute regex='^aplicativosWallpaper'}",href="#{pathFor 'aplicativosUpdateWallpaperRoute' aplicativoId=appInfo._id}")
					i.image.icon
					.content
						.header Wallpapers
				if isAdmin
					a.item(class="#{isActiveRoute regex='^aplicativosPlugins'}",href="#{pathFor 'aplicativosPluginsRoute' aplicativoId=appInfo._id}")
						i.puzzle.icon
						.content
							.header Plugins
				a.item(class="#{isActiveRoute regex='^aplicativosUsuarios'}",href="#{pathFor 'aplicativosUsuariosRoute' aplicativoId=appInfo._id}")
					i.users.icon
					.content
						.header Usuários
			else
				a.item(href="#{pathFor 'aplicativosInsertRoute'}")
					i.setting.icon
					.content
						.header Configuração
	unless showEmulator
		.ui.violet.fluid.button#showEmulatorEvent Mostrar Emulador
	else
		.ui.violet.fluid.button#showEmulatorEvent Esconder Emulador
		div#emulatorFloatDiv
			+emulatorFrame
