template(name="sidebar")
	.ui.left.sidebar.inverted.vertical.menu(class="#{appInfo.sidebarBackgroundColor}")
		if userId
			a.item(href="#{pathFor 'homeRoute'}")
				i.home.icon
				|Home
			if isSubscriber
				each modulos
					a.item(href="#{pathFor modulo.route}")
						i.icon(class="#{modulo.icon}")
						|#{modulo.title}
			if isGuest
				a.item(href="#{pathFor 'suspensoRoute'}")
					i.exclamation.icon
					|Usuário Convidado
			if isManager
				a.item(href="#{pathFor 'managerRoute'}")
					i.setting.icon
					|Configurações
		else
			a.item(href="#{pathFor 'loginRoute'}")
				i.power.icon
				|Login
			a.item(href="#{pathFor 'registerRoute'}")
				i.power.icon
				|Cadastre-se
			a.item(href="#{pathFor 'passwordRoute'}")
				i.power.icon
				|Recuperar Senha
