template(name="adminsView")
	+indexHeaderSearch header=header newLink=newLink extraLinks=extraLinks	
	table.ui.top.attached.table
		thead
			tr
				th.three.wide &nbsp;
				th.three.wide CPF
				th Nome
				
		tbody
			each admins.data
				tr
					td
						a.ui.icon.button.editBtn(href="#{pathFor 'adminsUpdateRoute' id=_id}",data-tooltip="Editar Admin",data-inverted)
							i.pencil.icon
						a.ui.icon.button.chamadoBtn(data-tooltip="Abrir Chamado",data-inverted)
							i.talk.icon
						.ui.icon.button.removeBtn(data-tooltip="Excluir Admin",data-inverted)
							i.trash.icon
					td #{username}
					td #{profile.name}

	+indexInfoPaginator ready=ready nothingFound='Nenhum Admin Cadastrado' count=admins.count page=admins.count pages=admins.pages singularForm='Admin' pluralForm='Admins'
