template(name="noticiasView")
	.ui.segment(style="background-color:#{appThemeBgColor}",class="#{appThemeText}")
		unless noticias
			.ui.loading.message Carregando...
		else
			if compare noticias.count 'eq' 0
				.ui.red.message 
					p Nenhuma notícia encontrada
			.ui.divided.items
				each noticias.data
					a.item(href="#{pathFor 'noticiasDetalheRoute' id=_id}")
						.image
							img(src="#{arquivoPath imagem}")
						.content
							.header #{title}
							.meta #{assunto.name}
							.description !{resume mensagem 100}
							.extra #{dateBr date}
