template(name="adminLayout")
	if isOffline
		.ui.active.dimmer
			.ui.text.loader Offline! Sem conexão com o servidor...
	if isLoading
		.ui.active.dimmer
			.ui.text.loader #{isLoading}
	unless noApp
		+sidebar
		+technotronicsSidebar
		+confirmView

		.pusher(style="background-image:url(#{clUrl appInfo.wallpaper.public_id}) !important; background-repeat: no-repeat !important;background-size: cover !important;")
			div#scrollDiv(style="height:100vh !important; overflow:auto;")
				+Template.dynamic template=menu
				br
				.ui.basic.segment
					+Template.dynamic template=main
				+Template.dynamic template=technotronics
