template(name="homeView")
	img.ui.small.centered.image(src="#{appLogo}")
	.ui.hidden.divider
	.ui.four.column.fluid.grid
		each modulos
			.center.aligned.column.moduloClickEvent
				i.iconAlpha.big.inverted.transition.hidden.icon(style="background-color:#{iconRGBA} !important",id="icon_#{_id}",class="#{modulo.icon} #{appInfo.iconColor} #{appInfo.iconType}")
