template(name="aplicativosArquivosView")
	//+indexHeaderSearch header=header htmlItems=htmlItems
	input#uploadField(type="file",name="files",style="display:none;",multiple="multiple")
	.ui.eight.cards
		if ready
			each arquivos.data
				.ui.card
					.image
						img.ui.image(src="#{clUrl public_id crop='scale' width=150 cloud_name=cloud_name}")
					.content
					.extra
						.ui.blue.tiny.icon.button.arquivoEffectEvent
							i.wizard.icon
						.ui.red.tiny.icon.button.arquivoRemoveEvent
							i.trash.icon
			each uploads.data
				.ui.card(id="wallpaper_#{_id}")
					.image
						img.ui.image(src="#{preview}")
					.content
					.extra
						if compare status 'eq' 'uploading'
							.ui.tiny.progress(id="progress_#{_id}")
								.bar
								.label Enviando...
						else
							.ui.fluid.green.icon.tiny.button.removePreviewEvent
								i.checkmark.icon
	+indexInfoPaginator ready=ready noattached=true nothingFound='Nenhum arquivo cadastrado.' count=arquivos.count page=arquivos.count pages=arquivos.pages singularForm='Arquivo' pluralForm='Arquivos'
