template(name="aplicativosFormView")
	//+indexHeaderSearch header=header saveLink=saveLink
	.ui.blue.top.attached.secondary.pointing.tabular.menu
		.active.item(data-tab="info") Informações
		.item(data-tab="cloudinary") Cloudinary
		.item(data-tab="design") Aparência
		.item(data-tab="home") Home Page
		.item(data-tab="login") Login
		.item(data-tab="stores") Stores
		.right.item(data-tab="delete")
			i.trash.icon
			|Remover
	.ui.bottom.attached.active.tab.segment(data-tab="info")
		form.ui.form.aplicativosForm#infoForm(method="post")
			.ui.grid
				.three.wide.column
					.field
						label Logotipo
						.ui.small.rounded.image
							if appInfo.appLogo
								img.ui.image(src="#{clUrl appInfo.appLogo cloud_name=cloud_name crop='scale' width=150}")
							else
								img.ui.image(src="#{clUrl 'no-logotype' crop='scale' width=150}")
				.thirteen.wide.column
					.two.fields
						.field
							label Nome
							input#nameField(type="text",name="name")
						.field
							label Email
							input#emailField(type="text",name="mailFrom")
					.two.fields
						.field
							label Domínio Opcional
							input#domainField(type="text",name="domain",placeholder="https://site.com.br")
						.field
							label Quantidade Paginação
							input#itemsPerPageField(type="number",name="itemsPerPage")
			.ui.clearing.divider
			button.ui.blue.button(type="submit",form="infoForm") Gravar
	.ui.bottom.attached.tab.segment(data-tab="cloudinary")
		form.ui.form#cloudinaryForm(method="post")
			.three.fields
				.field
					label Cloud Name
					input(type="text",name="cloud_name")
				.field
					label Api Key
					input(type="text",name="api_key")
				.field
					label Api Secret
					input(type="text",name="api_secret")
			.ui.clearing.divider
			.field
				button.ui.blue.button(type="submit",form="cloudinaryForm") Gravar
	.ui.bottom.attached.tab.segment(data-tab="design")
		form.ui.form.aplicativosForm#designForm(method="post")
			.two.fields
				.field
					label Cor de Fundo do Cabeçalho
					select.ui.search.dropdown#headerField(name="headerBackgroundColor")
						option(value="") Escolha uma Cor
						each semanticColors
							option(value="#{className}") #{title}
				.field
					label Transparência dos Menus
					select.ui.search.dropdown#headersOpacityField(name="headersOpacity")
						option(value="") Escolha uma opção
						option(value="0") 100%
						option(value=".1") 90%
						option(value=".2") 80%
						option(value=".3") 70%
						option(value=".4") 60%
						option(value=".5") 50%
						option(value=".6") 40%
						option(value=".7") 30%
						option(value=".8") 20%
						option(value=".9") 10%
						option(value="1") 0%
			.two.fields
				.field
					label Cor de Fundo do Menu Lateral
					select.ui.search.dropdown#sidebarField(name="sidebarBackgroundColor")
						option(value="") Escolha uma Cor
						each semanticColors
							option(value="#{className}") #{title}
				.field
					label Tema
					select.ui.search.dropdown#themeField(name="theme")
						option(value="") Escolha o Tema
						option(value="lighten") Claro
						option(value="darken") Escuro
			.ui.clearing.divider
			.field
			button.ui.blue.button(type="submit",form="designForm") Gravar
	.ui.bottom.attached.tab.segment(data-tab="home")
		form.ui.form.aplicativosForm#homeForm(method="post")
			.three.fields
				.field
					label Quantidade por Linha
					select.ui.select.dropdown#iconQuantityField(name="iconQuantity")
						option(value="") Escolha uma opção
						option(value="two") Dois Por Linha
						option(value="three") Três Por Linha
						option(value="four") Quatro Por Linha
				.field
					label Cor dos Ícones
					select.ui.select.dropdown#iconColorField(name="iconColor")
						option(value="") Escolha uma Cor
						each semanticColors
							option(value="#{className}") #{title}
				.field
					label Transparência dos Icones
					select.ui.select.dropdown#iconOpacityField(name="iconOpacity")
						option(value="") Escolha a Opacidade do ícone
						option(value="0") 100%
						option(value=".1") 90%
						option(value=".2") 80%
						option(value=".3") 70%
						option(value=".4") 60%
						option(value=".5") 50%
						option(value=".6") 40%
						option(value=".7") 30%
						option(value=".8") 20%
						option(value=".9") 10%
						option(value="1") 0%
			.two.fields
				.field
					label Tipo dos Ícones
					select.ui.select.dropdown#iconTypeField(name="iconType")
						option(value="") Escolha um Tipo
						option(value="circular") Circular
						option(value="bordered") Quadrado
				.field
					label Animação dos Ícones
					select.ui.select.dropdown#iconAnimationField(name="iconAnimation")
						option(value="") Escolha a Animação
						option(value="fade") Aparecer
						option(value="drop") Cair
						option(value="horizontal flip") Girar
						option(value="scale") Aumentar
						option(value="fly right") Voar à Direita
			.two.fields
				.field
					label Duração da Animação
					input#iconDurationField(type="number",name="iconDuration")
				.field
					label Intervalo entre as Animações
					input#iconIntervalField(type="number",name="iconInterval")
			.ui.clearing.divider
			.field
			button.ui.blue.button(type="submit",form="homeForm") Gravar
	.ui.bottom.attached.tab.segment(data-tab="login")
		form.ui.form.aplicativosForm#loginForm(method="post")
			.field
				label Tipo de Login
				select.ui.dropdown#loginTypeField(name="loginType")
					option(value="") Escolha uma opção
					option(value="email") Email
					option(value="username") Username
			.three.fields
				.field
					label Título
					input#loginTitleField(type="text",name="loginTitle")
				.field
					label Máscara do Título
					input#loginTitleMaskField(type="text",name="loginTitleMask")
				.field
					label Validador do Título
					select.ui.dropdown#loginTitleValidationField(name="loginTitleValidation")
						option(value="") Escolha uma opção
						option(value="none") Sem Validção
						option(value="cpf") CPF
			.two.fields
				.field
					label Teclado do Título
					select.ui.dropdown#loginTitleKeyboardField(name="loginTitleKeyboard")
						option(value="") Escolha uma opção
						option(value="text") Normal
						option(value="tel") Numérico
				.field
					label Teclado da Senha
					select.ui.dropdown#loginPasswordKeyboardField(name="loginPasswordKeyboard")
						option(value="") Escolha uma opção
						option(value="text") Normal
						option(value="tel") Numérico
			.ui.clearing.divider
			.field
			button.ui.blue.button(type="submit",form="loginForm") Gravar
	.ui.bottom.attached.tab.segment(data-tab="stores")
		form.ui.form.aplicativosForm#storesForm(method="post")
			.field
				label APP ID (Google Play e Apple Store)
				input#appInfoIdField(type="text",name="appInfoId",placeholder="br.com.dominio.nome")
			.field
				label Política de Privacidade
				textarea#privacyField(name="privacy",rows="15")
					|<p>Pol&iacute;tica de Privacidade</p>
					|<p>- O aplicativo poder&aacute; detectar o n&uacute;mero do celular em uso para controle de acesso de usu&aacute;rios</p>
					|<p>- As informa&ccedil;&otilde;es do us&aacute;rios fornecidas no aplicativo n&atilde;o ser&atilde;o compartilhadas com terceiros com excess&ccedil;&atilde;o:</p>
					|<p>- O preenchimento do Anivers&aacute;rio aparecer&aacute; para outros usu&aacute;rios</p>
			.ui.clearing.divider
			.field
				button.ui.blue.button(type="submit",form="storesForm") Gravar
	.ui.bottom.attached.tab.segment(data-tab="delete")
			.red.field
				label Remover Aplicativo
				input#removeApp(type="text")
				.ui.red.message
					i.exclamation.icon
					span Digite o nome do aplicativo para remove-lo do sistema. Essa ação não poderá ser desfeita.
			.field
				label &nbsp;
				.ui.red.button Remover
