template(name="aplicativosFormView")
	+indexHeaderSearch header=header saveLink=saveLink extraLinks=extraLinks
	form.ui.form#aplicativosForm(method="post")
		.three.fields
			.field
				label Nome
				input#nameField(type="text",name="name")
			.field
				label Logotipo
				input#logoField(type="text",name="logo")
			.field
				label appInfoId
				input#appInfoIdField(type="text",name="appInfoId")
		.two.fields
			.field
				label Cor de Fundo do Cabeçalho
				select.ui.search.dropdown#headerField(name="headerBackgroundColor")
					option(value="") Escolha uma Cor
					each semanticColors
						option(value="#{className}") #{title}
			.field
				label Cor de Fundo do Menu Lateral
				select.ui.search.dropdown#sidebarField(name="sidebarBackgroundColor")
					option(value="") Escolha uma Cor
					each semanticColors
						option(value="#{className}") #{title}
		.three.fields
			.field
				label Email
				input#emailField(type="text",name="mailFrom")
			.field
				label Domínio Opcional
				input#domainField(type="text",name="domain",placeholder="https://site.com.br")
			.field
				label Quantidade Paginação
				input#itemsPerPageField(type="number",name="itemsPerPage")
		.field
			label Privacidade
			textarea#privacyField(name="privacy")
				|<p>Pol&iacute;tica de Privacidade</p>
				|<p>- O aplicativo poder&aacute; detectar o n&uacute;mero do celular em uso para controle de acesso de usu&aacute;rios</p>
				|<p>- As informa&ccedil;&otilde;es do us&aacute;rios fornecidas no aplicativo n&atilde;o ser&atilde;o compartilhadas com terceiros com excess&ccedil;&atilde;o:</p>
				|<p>- O preenchimento do Anivers&aacute;rio aparecer&aacute; para outros usu&aacute;rios</p>
				|<p>- O aplicativo detecta a posi&ccedil;&atilde;o atual do usu&aacute;rio via GPS para posicionamento das informa&ccedil;&otilde;es mas n&atilde;o salva essa informa&ccedil;&atilde;o</p>
