template(name="loginView")
	img.ui.small.centered.image(src="#{clUrl appInfo.logotype.public_id cloud_name=appInfo.logotype.cloud_name crop='scale' width=150}")
	.ui.hidden.divider
	form.ui.form#loginForm(class="#{appThemeText}",style="background-color:#{appThemeBgColor}", method="post")
		if compare appInfo.login.loginType 'eq' 'username'
			.field
				label #{appInfo.login.loginTitle}
				input#usernameField(type="#{appInfo.login.loginTitleKeyboard}",name="username",autocomplete="off")
		else
			.field
				label Email
				input#emailField(type="email",name="email",autocomplete="off")
		.field
			label Senha
			.ui.action.input
				input#passwordField.hidePwd(type="#{appInfo.login.loginPasswordKeyboard}",name="password",autocomplete="off")
				.ui.icon.button.showPasswordBtn
					i.eye.icon
		.ui.divider
		button.ui.fluid.blue.button(type="submit",form="loginForm") Entrar
