template(name="aplicativosUsuariosView")
	table.ui.blue.top.attached.single.line.table
		thead
			tr
				th.three.wide &nbsp;
				th.three.wide Email
				th.three.wide Permissões
				th Nome
				th.three.wide Aniversário
		tbody
			unless Template.subscriptionsReady
				tr
					td(colspan="5")
						+loadingView
			else
				each usuarios.data
					tr
						td
							a.ui.icon.button.editBtn(href="#{pathFor 'aplicativosUsuariosUpdateRoute' aplicativoId=aplicativoId userId=_id}",data-tooltip="Editar Usuário",data-inverted)
								i.edit.icon
							a.ui.icon.button.chamadoBtn(data-tooltip="Abrir Chamado",data-inverted)
								i.talk.icon
							.ui.icon.button.removeUserAppBtn(data-tooltip="Excluir Usuário",data-inverted)
								i.trash.icon
						td #{firstEmail emails}
						td #{userAppPerm}
						td #{profile.name}
						td #{dateBr profile.birth}
	.ui.secondary.bottom.attached.segment
		a.ui.blue.button(href="#{pathFor 'aplicativosUsuariosInsertRoute' aplicativoId=appInfo._id}")
			i.plus.icon
			|Novo Usuário
		.ui.blue.button#addUsersApp
			i.plus.icon
			|Usuário Existente
		.ui.large.popup
			form.ui.form#addUserToAppForm(method="post")
				.field
					label Email
					input#emailField(type="text",name="email")
				.field
					label Permissões
					select.ui.dropdown.tipoField(name="tipo",multiple)
						option(value="") Escolha as permissões do Usuário
						option(value="guest") Visitante
						option(value="subscriber") Assinante
						option(value="manager") Gerente
						each appPlugins
							option(value="#{modulo.path}") #{modulo.title}
				.field
					.ui.primary.fluid.button#addUserToAppEvent Adicionar
