template(name="fotosView")
	.ui.info.message(style="background-color:#{appThemeBgColor}")
		i.large.image.icon
		|#{galeria.title}
	.ui.two.cards
		each fotos
			.transition.hidden.fotos.card(style="background-color:#{appThemeBgColor}")
				.image
					img(src="#{arquivoPath public_id 'c_scale,w_320,e_improve'}")
				.extra.content
					i.like.icon
					|#{likes} likes
	.ui.small.basic.modal#imageZoomModal(style="margin-top:-25%;")
		.header Foto
		.content
			img.ui.fluid.image#imageZoom(src="")
		.actions
			unless hasLiked
				.ui.red.icon.ok.button
					i.like.icon#likeArquivo
			//a.ui.blue.icon.button(href="#{arquivoPath imageZoom.public_id}",download="photo.jpg")
				i.download.icon
			.ui.close.cancel.icon.button
				i.close.icon
