template(name="fotosView")
	.ui.segment(class="#{appThemeText}",style="background-color:#{appThemeBgColor}")
		.ui.left.floated.header #{galeria.title}
		a.ui.blue.mini.right.floated.icon.button(href="#{pathFor 'galeriasRoute'}")
			i.chevron.left.icon
		.ui.hidden.clearing.divider
	.ui.two.cards
		each fotos
			.transition.hidden.fotos.card
				.image
					img(src="#{arquivoPath _id 'c_scale,w_120'}")
				.extra.content
					.left.floated.like
						i.like.icon
						|Gostei
