template(name="galeriasView")
	.ui.info.message(style="background-color:#{appThemeBgColor}")
		i.large.image.icon
		|Galeria de Fotos
	if compare galerias.count 'eq' 0
		.ui.red.message(style="background-color:#{appThemeBgColor}")
			p Nenhuma galeria encontrada
	.ui.two.cards
		each galerias.data
			a.ui.link.fluid.card(href="#{pathFor 'fotosRoute' id=_id}",class="#{appThemeText}",style="background-color:#{appThemeBgColor}")
				.image
					img(src="#{arquivoPath capa_id 'c_scale,w_120'}")
				.content
					.meta #{title}
				.extra.content
					|#{fotos.length} fotos
