template(name="arquivosView")
	+indexHeaderSearch header=header extraLinks=extraLinks
	.ui.eight.cards
		if ready
			each arquivos.data
				.ui.card
					.image
						img.ui.image(src="#{arquivoPath _id}")
					.extra
						.ui.red.icon.button.arquivoRemoveEvent
							i.trash.icon
	+indexInfoPaginator ready=ready nothingFound='Nenhum arquivo cadastrado.' count=arquivos.count page=arquivos.count pages=arquivos.pages singularForm='Arquivo' pluralForm='Arquivos'
