template(name="formGaleriasView")
	+indexHeaderSearch header=header saveLink=saveLink extraLinks=extraLinks
	form.ui.form#galeriasForm(method="post")
		.three.fields
			.field
				label Data
				input#dateField(type="date",name="date")
			.field
				label Título
				input#titleField(type="text",name="title")
			.field
				label &nbsp;
				if galeria_id
					.ui.blue.fluid.button.fotoBrowse Enviar Fotos
				else
					.ui.blue.disabled.fluid.button Enviar Fotos
	if galeria_id
		.ui.large.header Fotos da Galeria
		if fotos
			if compare fotos.length 'gt' 0
				.ui.five.cards
					each fotos
						.card
							.ui.fluid.image
								img(src="#{fotoLink}")
							.content
								.description
								|#{originalname} #{galeria.capa_id}
								.extra
									.ui.blue.icon.button.capaBtn(data-tooltip="Capa da Galeria",data-inverted)
										i.image.icon
									.ui.red.icon.button.deleteBtn(data-tooltip="Excluir Foto",data-inverted)
										i.trash.icon
		else
			.ui.red.message Nenhuma foto encontrada nesta galeria
	else
		.ui.blue.message
			i.warning.icon
			span É necessário Salvar para poder fazer o Upload de Fotos na Galeria.
