template(name="sidebar")
	.ui.small.left.sidebar.inverted.vertical.emulator.menu(class="#{appInfo.sidebarBackgroundColor}")
		a.item(href="#{pathFor 'aplicativosEmulatorRoute' aplicativoId=appInfo._id}")
			i.home.icon
			|Home
		a.item(href="#{pathFor 'aplicativosEmulatorLoginRoute' aplicativoId=appInfo._id}")
			i.power.icon
			|Login
		each modulos
			.item
				i.icon(class="#{modulo.icon}")
				|#{modulo.title}
