template(name="indexHeaderSearch")
	.ui.secondary.menu
		.item
			.ui.blue.large.header
				i.icons
					i.icon(class="#{header.icon}")
					i.red.corner.icon(class="#{header.corner}")
				|#{header.title}
		.right.menu
			each extraLinks
				a.item(href="#{pathFor route params}",id="#{id}")
					i.icon(class="#{icon}")
					|#{_ title}
			if search
				a.item#searchBtn
					i.search.icon
					|#{search.title}
			if newLink
				if newLink.route
					a.item#addBtn(href="#{pathFor newLink.route newLink.params}")
						i.plus.icon
						|#{_ newLink.title}
				else
					a.item#addBtn
						i.plus.icon
						|#{newLink.title}
			if saveLink
				.item
					button.ui.blue.button(type="submit",form="#{saveLink.form}")
						i.icon(class="#{saveLink.icon}")
						|#{saveLink.title}
